#clouds {
   position:absolute;
   bottom:0;
   width:100%;
   height:190px;
   opacity: 0.99;

   background: url(../images/clouds2.png) center top repeat-x;
   animation:       awan-animasi 40s linear infinite;
                    -ms-animation: awan-animasi 40s linear infinite;
                      -moz-animation: awan-animasi 40s linear infinite;
                    -webkit-animation: awan-animasi 40s linear infinite;
}

@keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}

@-webkit-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}

@-ms-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}

@-moz-keyframes awan-animasi {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 100% 0;
  };
}